body {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	background: #87cefa url('img/bg-texture.jpg') repeat;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

h1 {
	font-size: 2.750em;
	letter-spacing: -1.1px;
}

h2 {
	font-size: 1.500em;
	color: #00BFFF;
}

.button {
	color: #FFFFFF;
	background-color: #00BFFF;
	padding: 10px 20px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.button:hover {
	background-color: #00AFFF;
}

ul.nav {
	float: center;
	list-style: none;
}

ul.nav li {
	float: left;
	padding: 7px 20px;
	margin: 0px 10px;
	background: #00BFFF;
	border-radius: 25px;
	text-transform: uppercase;
}

ul.nav li:hover {
	background-color: #00AFFF;
}

#intro {
	margin: 100px 0 -40px 0;
	padding: 0 0 0 80px;
}

#header-img img {
	border: 8px solid #FFFFFF;
	margin: 15px 0 20px 0;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
}

#copyright {
	border-top: 2px solid #FFFFFF;
	padding: 10px 0px;
	margin: 15px 0px;
	font-size: 0.8em;
	text-align: center;
}